@model projekcik.Models.Danieglowne

@{
    ViewBag.Title = "Usuń danie główne";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>


<p>Usunięcie przepisu jest opcją jedynie dla administratora.</p>