@{
    ViewBag.Title = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="https://s3.amazonaws.com/content.ednavalleyvineyard.com/drupal/production/s3fs-public/2018-02/Desktop_1400x600_Creamy-Tomato-Bisque-with-Grilled-Cheese_0.png" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Szeroka gama zup i kremów!
                    <a class="btn btn-default" target="_blank" href="https://www.kwestiasmaku.com/kuchnia_polska/zupy/przepisy.html">
                        Zobacz
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="https://www.dineout.co.in/blog/wp-content/uploads/2019/04/blog_chandigarh-1030x538.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Zainspiruj się różnorodnością dań głównych!
                    <a class="btn btn-default" target="_blank" href="https://www.kwestiasmaku.com/blog-kulinarny/category/dania-obiadowe">
                        Zobacz
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="https://breakplan.pl/images/kraje/USA/Cheesecake.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Zobacz różnego rodzaju podwieczorki!
                    <a class="btn btn-default" target="_blank" href="https://www.kwestiasmaku.com/przepisy/podwieczorki">
                        Zobacz
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>PRZYKŁADOWE ZUPY</h2>
        <ul>
            <li>Zupa tajska z kurczakiem i makaronem <a target="_blank" href="https://www.kwestiasmaku.com/przepis/zupa-tajska-z-kurczakiem-i-makaronem">Zobacz</a></li>
            <li>Chłodnik <a target="_blank" href="https://www.kwestiasmaku.com/przepis/chlodnik">Zobacz</a></li>
            <li>Zupa z łososiem, ziemniakami i cukinią <a target="_blank" href="https://www.kwestiasmaku.com/przepis/zupa-z-lososiem-ziemniakami-i-cukinia">Zobacz</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>DANIA GŁÓWNE</h2>
        <ul>
            <li>Kurczak z warzywami <a target="_blank" href="https://www.kwestiasmaku.com/przepis/kurczak-z-warzywami">Zobacz</a></li>
            <li>Dorsz na spaghetti z cukinii <a target="_blank" href="https://www.kwestiasmaku.com/przepis/dorsz-na-spaghetti-z-cukinii">Zobacz</a></li>
            <li>Polędwiczka z sosem botwinkowym <a target="_blank" href="https://www.kwestiasmaku.com/przepis/poledwiczka-z-sosem-botwinkowym">Zobacz</a></li>
            <li>Schab w sosie koperkowym <a target="_blank" href="https://www.kwestiasmaku.com/przepis/schab-w-sosie-koperkowym">Zobacz</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>SŁODKIE PRZEPISY</h2>
        <ul>
            <li>Ciasto dyniowe <a target="_blank" href="https://www.kwestiasmaku.com/zielony_srodek/dynia/ciasto_dyniowe/przepis.html">Zobacz</a></li>
            <li>Ciasto bananowe<a target="_blank" href="https://www.kwestiasmaku.com/desery/ciasta/bananowiec/przepis.html">Zobacz</a></li>
            <li>Ciasto raffaello <a target="_blank" href="https://www.kwestiasmaku.com/przepis/ciasto-raffaello">Zobacz</a></li>
            <li>Ciasto czekoladowe <a target="_blank" href="https://www.kwestiasmaku.com/przepis/ciasto-czekoladowe">Zobacz</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>COŚ NA ZĄB</h2>
        <ul>
            <li>Placki serowe z truskawkami <a target="_blank" href="https://www.kwestiasmaku.com/przepis/placki-serowe-z-truskawkami">Zobacz</a></li>
            <li>Omlet cesarski z truskawkami <a target="_blank" href="https://www.kwestiasmaku.com/przepis/omlet-cesarski-z-truskawkami">Zobacz</a></li>
            <li>Racuchy drożdżowe <a target="_blank" href="https://www.kwestiasmaku.com/przepis/racuchy-drozdzowe-0">Zobacz</a></li>
            <li>RCrumble ze śliwkami <a target="_blank" href="https://www.kwestiasmaku.com/przepis/crumble-ze-sliwkami">Zobacz</a></li>
        </ul>
    </div>
</div>

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@